llama-cloud>=1.6.0
chromadb
numpy
sentence-transformers
python-dotenv
langchain_groq
langchain_text_splitters
langchain_core
langchain_experimental
langchain_huggingface
rank_bm25

# API server
fastapi
uvicorn[standard]
